@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-color: #1e1f29;
$text-color: #f7f7f7;
$accent-color: #6c38cc;
$secondary-color: #e60c6a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
}

body {
  background-color: $bg-color;
}

html * {
  scrollbar-width: thin;
  scrollbar-color: #6c38cc #1e1f29;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
